TestApplication/Service References/ServiceReference1/SquareOptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SquareOptService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Opt/SquareOptService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Opt/SquareOptService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Opt/SquareOptService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/glassCAD.WCF.SquareOpt" />
      <xsd:import schemaLocation="http://localhost/Opt/SquareOptService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISquareOptService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_GetHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeaders" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_GetHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Optimize_InputMessage">
    <wsdl:part name="parameters" element="tns:Optimize" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Optimize_OutputMessage">
    <wsdl:part name="parameters" element="tns:OptimizeResponse" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Export_InputMessage">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ISquareOptService_Export_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:portType name="ISquareOptService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Test" message="tns:ISquareOptService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/TestResponse" message="tns:ISquareOptService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Add" message="tns:ISquareOptService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/AddResponse" message="tns:ISquareOptService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/GetHeaders" message="tns:ISquareOptService_GetHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/GetHeadersResponse" message="tns:ISquareOptService_GetHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Load" message="tns:ISquareOptService_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/LoadResponse" message="tns:ISquareOptService_Load_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Save" message="tns:ISquareOptService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/SaveResponse" message="tns:ISquareOptService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Delete" message="tns:ISquareOptService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/DeleteResponse" message="tns:ISquareOptService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Check" message="tns:ISquareOptService_Check_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/CheckResponse" message="tns:ISquareOptService_Check_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Optimize">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Optimize" message="tns:ISquareOptService_Optimize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/OptimizeResponse" message="tns:ISquareOptService_Optimize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://tempuri.org/ISquareOptService/Export" message="tns:ISquareOptService_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISquareOptService/ExportResponse" message="tns:ISquareOptService_Export_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISquareOptService" type="tns:ISquareOptService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeaders">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/GetHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Optimize">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Optimize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://tempuri.org/ISquareOptService/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SquareOptService">
    <wsdl:port name="BasicHttpBinding_ISquareOptService" binding="tns:BasicHttpBinding_ISquareOptService">
      <soap:address location="http://localhost/Opt/SquareOptService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>